{% extends 'layout.html' %}
{% block content %}

<section class="projects-section">
    <h2>My Projects</h2>
    <div class="projects-container">
        <!-- Project 1 -->
        <div class="project-card" data-aos="fade-up">
            <!-- Logo at the top of the card -->
            <img src="{{ url_for('static', filename='images/project1.png') }}" alt="Student Result Management System Logo" class="project-logo">
    
            <h3>Student Result Management System</h3>
            <p>A web-based system to manage student results efficiently. Built with Python, Flask, and SQLite.</p>
            <a href=" https://github.com/ratnadipdoke1712/student-result-management-system" class="project-btn">View</a>
        </div>


        <!-- Project 2 -->
        <div class="project-card" data-aos="fade-up">
            <!-- Logo at the top of the card -->
            <img src="{{ url_for('static', filename='images/project2.png') }}" alt="Portfolio Website Logo" class="project-logo">
    
            <h3>Portfolio Web App</h3>
            <p> A personal portfolio website designed to showcase my skills, projects, education, and experience as a Python developer</p>
            <a href="https://github.com/ratnadipdoke1712/PortfolioHub" class="project-btn">View</a>
        </div>

        <!-- Project 3 -->
        <div class="project-card" data-aos="fade-up" data-aos-delay="200">
            <div class="project-icon">⚙️</div>
            <h3>Project 3</h3>
            <p>An automation tool in Python that scrapes and organizes information from websites.</p>
            <a href="#" class="project-btn">View</a>
        </div>
    </div>
</section>

{% endblock %}
